<div class="d-flex justify-content-center">
  <div class="card w-75">
    <div class="card-header bg-info">
      <h2 class="fw-bolder">Create New Post</h2>
    </div>
    <div class="card-body">
      <form id="new-post-form">
        <label for="name" class="fw-bold my-2">Title</label>
        <input type="text" name="name" id="post-name" placeholder="Enter Post Title Here" class="w-100" />
        <label for="body" class="fw-bold my-2">Content</label>
        <textarea name="body" id="post-body" cols="100" rows="10" class="w-100"></textarea>
        <div class="d-flex justify-content-center my-3">
          <button type="submit" class="rounded-pill px-3 py-1 bg-info fw-bold w-50">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="../js/post.js"></script>